
.idea/.idea.tft-module/.idea/.name
.idea/.idea.tft-module/.idea/encodings.xml
.idea/.idea.tft-module/.idea/indexLayout.xml
.idea/.idea.tft-module/.idea/misc.xml
.idea/.idea.tft-module/.idea/vcs.xml
tft-module/obj/Debug/net7.0/tft-module.assets.cache
tft-module/obj/Debug/net7.0/tft-module.csproj.AssemblyReference.cache
tft-module/obj/Debug/net7.0/tft-module.GeneratedMSBuildEditorConfig.editorconfig
tft-module/obj/project.assets.json
tft-module/obj/project.nuget.cache
tft-module/obj/project.packagespec.json
tft-module/obj/rider.project.restore.info
tft-module/obj/tft-module.csproj.nuget.dgspec.json
tft-module/obj/tft-module.csproj.nuget.g.props
tft-module/obj/Container/AbsoluteOutputAssemblyPath.cache
tft-module/obj/Container/AdditionalProbingPaths.cache
tft-module/obj/Container/ContainerDevelopmentMode.cache
tft-module/obj/Container/ContainerId.cache
tft-module/obj/Container/ContainerName.cache
tft-module/obj/Container/ContainerOperatingSystemFlavor.cache
tft-module/obj/Container/ContainerRunContext.cache
tft-module/obj/Container/DebuggeeArguments.cache
tft-module/obj/Container/DebuggeeKillProcessCommand.cache
tft-module/obj/Container/DebuggeeProgram.cache
tft-module/obj/Container/DebuggeeWorkingDirectory.cache
tft-module/obj/Container/FastModeProjectMountDirectory.cache
tft-module/obj/Container/ImageBuildContext.cache
tft-module/obj/Container/ImageId.cache
tft-module/obj/Container/OperatingSystemName.cache
tft-module/obj/Container/TargetFramework.cache
tft-module/obj/Container/VolumeMappings.cache
tft-module/obj/Container/VsDbgScript.cache
tft-module/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
tft-module/obj/Debug/net7.0/apphost.exe
tft-module/obj/Debug/net7.0/ref/tft-module.dll
tft-module/obj/Debug/net7.0/refint/tft-module.dll
tft-module/obj/Debug/net7.0/staticwebassets.build.json
tft-module/obj/Debug/net7.0/staticwebassets/msbuild.build.tft-module.props
tft-module/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.tft-module.props
tft-module/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.tft-module.props
tft-module/obj/Debug/net7.0/tft-module.AssemblyInfo.cs
tft-module/obj/Debug/net7.0/tft-module.AssemblyInfoInputs.cache
tft-module/obj/Debug/net7.0/tft-module.assets.cache
tft-module/obj/Debug/net7.0/tft-module.csproj.AssemblyReference.cache
tft-module/obj/Debug/net7.0/tft-module.csproj.BuildWithSkipAnalyzers
tft-module/obj/Debug/net7.0/tft-module.csproj.CopyComplete
tft-module/obj/Debug/net7.0/tft-module.csproj.CoreCompileInputs.cache
tft-module/obj/Debug/net7.0/tft-module.csproj.FileListAbsolute.txt
tft-module/obj/Debug/net7.0/tft-module.dll
tft-module/obj/Debug/net7.0/tft-module.GeneratedMSBuildEditorConfig.editorconfig
tft-module/obj/Debug/net7.0/tft-module.genruntimeconfig.cache
tft-module/obj/Debug/net7.0/tft-module.GlobalUsings.g.cs
tft-module/obj/Debug/net7.0/tft-module.MvcApplicationPartsAssemblyInfo.cache
tft-module/obj/Debug/net7.0/tft-module.MvcApplicationPartsAssemblyInfo.cs
tft-module/obj/Debug/net7.0/tft-module.pdb
tft-module/obj/project.assets.json
tft-module/obj/project.nuget.cache
tft-module/obj/tft-module.csproj.nuget.dgspec.json
tft-module/obj/tft-module.csproj.nuget.g.props
tft-module/obj/tft-module.csproj.nuget.g.targets
.idea/config/applicationhost.config
tft-module/bin/Debug/net7.0/tft-module.dll
tft-module/bin/Debug/net7.0/tft-module.pdb
tft-module/bin/Debug/net7.0/tft-module.runtimeconfig.json
tft-module/bin/Debug/net7.0/tft-module.pdb
tft-module/bin/Debug/net7.0/tft-module.exe
tft-module/bin/Debug/net7.0/tft-module.dll
tft-module/bin/Debug/net7.0/tft-module.deps.json
tft-module/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
tft-module/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
tft-module/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
tft-module/bin/Debug/net7.0/Newtonsoft.Json.dll
tft-module/bin/Debug/net7.0/Microsoft.OpenApi.dll
tft-module/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
tft-module/bin/Debug/net7.0/appsettings.json
tft-module/bin/Debug/net7.0/appsettings.Development.json
*.dll
*.dylib
*.so
tft-module/obj
